* {
    border: none;
    font-family: FiraCode Nerd Font;
    font-size: 11px;
    border-radius: 5px;
}

/* Module groups */

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #c8c8c8;
}

.modules-right {
	background-color: rgba(11, 14, 14, 0.35);
    color: #c8c8c8;
    margin: 0px 0px 2px 0px;
}

.modules-center {
	background-color: rgba(11, 14, 14, 0.35);
    color: #c8c8c8;
    margin: 0px 0px 2px 0px;
}

.modules-left {
	background-color: rgba(11, 14, 14, 0.35);
    color: #c8c8c8;
    margin: 0px 0px 2px 0px;
}

/* Workspaces */

#workspaces button {
    padding: 1px 5px;
    background: transparent;
    background-image: none;
    box-shadow: none;
    color: #c8c8c8;
}

#workspaces button:hover {
    background: rgba(11, 14, 14, 0.8);
    background-image: none;
    box-shadow: none;
    color: #FFFFFF;
}

#workspaces button.focused, #workspaces button.active {
    background-color: rgba(11, 14, 14, 0.8);
    color: #FFFFFF;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    color: #FFFFFF;
}

/* Other */

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
#idle_inhibitor {
    padding: 0 10px;
}
#mode {
    color: #cc3436;
    font-weight: bold;
}
