* {
    border: none;
    font-family: FiraCode Nerd Font;
    font-size: 13px;
    border-radius: 5px;
}

/* Module groups */

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #c8c8c8;
}

.modules-left {
	background-color: rgba(11, 14, 14, 0.35);
    color: #c8c8c8; /* top right bottom left */
    margin: 5px 5px 5px 5px; /* top right bottom left */
}

.modules-center {
    background: transparent;
    color: #c8c8c8;
    margin: 5px 0px 5px 0px; /* top right bottom left */
}

.modules-right {
    background: transparent;
    color: #c8c8c8;
    margin: 5px 5px 5px 0px; /* top right bottom left */
}

/* Workspaces */

#workspaces button {
    padding: 4px 8px;
    margin: 0px 2px;
    color: #C8C8C8;
    box-shadow: none;
    background-image: none;
	background-color: rgba(11, 14, 14, 0.35);
    border: 2px solid rgba(85, 90, 97, 0);
    border-radius: 5px;
}

#workspaces button:hover {
    color: #FFFFFF;
    border: 2px solid rgba(85, 90, 97, 1);
}

#workspaces button.focused, #workspaces button.active {
    background-color: rgba(11, 14, 14, 0.8);
    color: #FFFFFF;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    color: #FFFFFF;
}

/* Other */

#tray,
#clock,
#battery,
#network,
#pulseaudio,
#custom-media,
#custom-hyprshot {
    padding: 4px 10px;
    margin: 0px 2px;
	background-color: rgba(11, 14, 14, 0.35);
    border: 2px solid rgba(85, 90, 97, 0);
    border-radius: 5px;
}

#submap {    
    padding: 4px 10px;
    margin: 0px 2px;
	background-color: rgba(11, 14, 14, 0.35);
    border: 2px solid rgba(254, 128, 25, 1);
    border-radius: 5px;
    color: rgba(254, 128, 25, 1);
    font-weight: bold;
}

#tray:hover,
#clock:hover,
#battery:hover,
#network:hover,
#pulseaudio:hover,
#custom-media:hover,
#custom-hyprshot:hover {
    border: 2px solid rgba(85, 90, 97, 1)
}
